{% extends "headers/base_header.html" %}
{% load static %}

{% block body %}
  
      <div class="ftco-blocks-cover-1">
      <div class="ftco-cover-1 overlay" style="background-image: url('{% static 'images/hero_1.jpg' %}')">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-5">
              <h1 class="line-bottom">Perfection is always in our mind.</h1>
            </div>
            <div class="col-lg-5 ml-auto">
              
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-5 pr-md-5 mr-auto">
            <h2 class="line-bottom">If You Have Project In Mind. Get A Quotation</h2>
            <p>Transforming Ideas into Reality: Request a Quotation for Your Dream Project Today. We're here FOR and WITH you.</p>
          </div>
          <div class="col-md-6">
            <div class="quick-contact-form bg-white">
                <h2>Get Quotation</h2>
                <form action="#" method="">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <textarea name="" class="form-control" id="" cols="30" rows="5" placeholder="Message"></textarea>
                  </div>
                  <div class="form-group">
                    <input type="submit" value="Send Message" class="btn btn-primary px-5">
                  </div>
                </form>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section" style="background-color: #dedffe;">
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
            <div class="service-2 h-100">
              <div class="svg">
                <img src="{% static 'images/flaticon/svg/001-renovation.svg' %}" alt="Image" class="">
              </div>

              <h3><span>Renovation</span></h3>
              <p>Breathe New Life into Your Space: Discover the Power of Renovation</p>

            </div>
          </div>
          <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
            <div class="service-2 h-100">
              <div class="svg">
                <img src="{% static 'images/flaticon/svg/002-shovel.svg' %}" alt="Image" class="">
              </div>

              <h3><span>Finishing</span></h3>
              <p>Add the Perfect Finishing Touch: Elevate Your Space with Exquisite Finishing Services!</p>

            </div>
          </div>
          <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
            <div class="service-2 h-100">
              <div class="svg">
                <img src="{% static 'images/flaticon/svg/003-bulldozer.svg' %}" alt="Image" class="">
              </div>

              <h3><span>Building Construction</span></h3>
              <p>Building Your Vision, Brick by Brick: Unleash the Potential of Customized Construction Solutions!</p>

            </div>
          </div>


          <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
            <div class="service-2 h-100">
              <div class="svg">
                <img src="{% static 'images/flaticon/svg/004-house-plan.svg' %}" alt="Image" class="">
              </div>

              <h3><span>House Build</span></h3>
              <p>Crafting Dream Homes: Building the Perfect Haven for Your Family!</p>

            </div>
          </div>
          <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
            <div class="service-2 h-100">
              <div class="svg">
                <img src="{% static 'images/flaticon/svg/005-fence.svg' %}" alt="Image" class="">
              </div>

              <h3><span>Fence Construction</span></h3>
              <p>Securing Boundaries, Enhancing Aesthetics: Unlock the Beauty and Protection of Expert Fence Construction</p>

            </div>
          </div>
          <div class="col-md-6 mb-5 mb-lg-5 col-lg-4">
            <div class="service-2 h-100">
              <div class="svg">
                <img src="{% static 'images/flaticon/svg/006-wheelbarrow.svg' %}" alt="Image" class="">
              </div>

              <h3><span>Bridge Construct</span></h3>
              <p>Building Connections, Spanning Possibilities: Pioneering Excellence in Bridge Construction</p>

            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        
        <div class="row mb-5">
          <div class="col-md-4 mr-auto">
            <h2 class="line-bottom">We Are Leader In The Construction World</h2>
          </div>
          <div class="col-md-8 text-right">
            <nav class="custom-tab nav" role="tablist"  class="nav nav-tabs" id="nav-tab" role="tablist">
              <a href="#nav-one" class="nav-item nav-link active" data-toggle="tab" role="tab"  aria-controls="nav-one" aria-selected="true">Technology</a>
              <a href="#nav-two" class="nav-item nav-link" data-toggle="tab" role="tab" aria-controls="nav-two" aria-selected="false">Quality</a>
              <a href="#nav-three" class="nav-item nav-link" data-toggle="tab" role="tab" aria-controls="nav-three" aria-selected="false">Staff</a>
            </nav>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-one" role="tabpanel" aria-labelledby="nav-one-tab">
                <div class="row">
                  <div class="col-md-7">
                    <img src="{% static 'images/hero_1.jpg' %}" alt="Image" class="img-fluid">
                  </div>
                  <div class="col-md-4 ml-auto">
                    <h2 class="line-bottom">Technology</h2>
                    <p>Revolutionizing the Future of Construction: Leading the Way with World-Class Construction Technology also we Redefine Excellence with Cutting-Edge Technology and Expertise. Actually <strong>Excellence</strong> is <strong>BitWork Constructions!</strong></p>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-two" role="tabpanel" aria-labelledby="nav-two-tab">
                <div class="row">
                  <div class="col-md-7">
                    <img src="{% static 'images/hero_2.jpg' %}" alt="Image" class="img-fluid">
                  </div>
                  <div class="col-md-4 ml-auto">
                    <h2 class="line-bottom">Quality</h2>
                    <p>Excellence Defined: Unyielding Commitment to Unsurpassed Quality in Every Construction Project</p>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-three" role="tabpanel" aria-labelledby="nav-three-tab">
                <div class="row">
                  <div class="col-md-7">
                    <img src="{% static 'images/hero_3.jpg' %}" alt="Image" class="img-fluid">
                  </div>
                  <div class="col-md-4 ml-auto">
                    <h2 class="line-bottom">Staff</h2>
                    <p>Nurturing Excellence Through People: Our Skilled and Passionate Staff, the Driving Force Behind Every Construction Triumph!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-light">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4 mx-auto">
            <h2 class="line-bottom text-center">Testimonials</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="testimonial-3">
              <blockquote>Bitwork Constructions exceeded all our expectations with their exceptional craftsmanship, attention to detail, and unwavering commitment to quality. Their knowledgeable and dedicated staff transformed our vision into a stunning reality.</blockquote>
              <div class="vcard d-flex align-items-center">
                <div class="img-wrap mr-3">
                  <img src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-fluid">
                </div>
                <div>
                  <span class="d-block">Chima Ebube</span>
                  <span class="position">Client From Julius Berger</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="testimonial-3">
              <blockquote> From the initial planning stages to the final touches, they showcased professionalism, reliability, and a true passion for their craft. Their exceptional project management skills ensured a seamless construction process and timely completion. We couldn't be happier with the outstanding results delivered by Bitwork Constructions</blockquote>
              <div class="vcard d-flex align-items-center">
                <div class="img-wrap mr-3">
                  <img src="{% static 'images/person_2.jpg' %}" alt="Image" class="img-fluid">
                </div>
                <div>
                  <span class="d-block">Adeferanmi Enitan</span>
                  <span class="position"><strong>CEO,</strong> ConstroctMe</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <!--  -->

    </div>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>

  </body>

</html>

{% endblock body %}